<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="card text-center m-3">
        <h1 class="card-header">Welcome to {{ title }}!</h1>
        <div class="card-body">
            <ng-container *ngFor="let prod of product">
                <app-products [product]="prod"></app-products>
                <div style="height: 20px;"></div>
            </ng-container>
        </div>
        <div class="card-footer pb-0 pt-3">
            <ul *ngIf="pages && pages.length" class="pagination">
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                    <a routerLink [queryParams]="{ page: 1 }" class="page-link">First</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                    <a routerLink [queryParams]="{ page: pager.currentPage - 1 }" class="page-link">Previous</a>
                </li>
                <li *ngFor="let page of pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
                    <a routerLink [queryParams]="{ page: page }" class="page-link">{{page}}</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                    <a routerLink [queryParams]="{ page: pager.currentPage + 1 }" class="page-link">Next</a>
                </li>
                <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                    <a routerLink [queryParams]="{ page: pager.totalPages }" class="page-link">Last</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>



<div id="footer">
    <div class="container">
        <p class="text-muted credit">Created by Andreas Tudzynski</p>
    </div>
</div>