<div class="card border-0 bg-transparent" style="width: 100%;">
  <div class="card-header bg-white row" style="text-align: left;">
    <div class="col-xs-6 col-md-12 pointer" (click)="isActive=!isActive">
        <i class="far text-secondary" [ngClass]="{'fa-plus-square': !isActive, 'fa-minus-square': isActive}"></i>
        &nbsp;
        {{ product.display_name_translations.de }}
    </div>
  </div>
    <div *ngIf="isActive" class="row">
    <h3 class="col-12 text-left mt-4"><i class="fa fa-info-circle"></i> Info</h3>
    <img alt="Angular Logo" src="{{product.images[0].medium}}" class="rounded col-3">
    <div class="col-9">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Makronährstoffe</th>
                <th scope="col">pro 100</th>
                <th scope="col">Einheit</th>
                <th scope="col">pro Portion</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let ing of product.nutrients | keyvalue">
                <th scope="row">{{ ing.value.name_translations.de }}</th>
                <td>{{ing.value.per_hundred}}</td>
                <td>{{ing.value.unit}}</td>
                <td>{{ing.value.per_portion}}</td>
            </tr>
        </tbody>
    </table>
  </div>
    </div>
</div>
