.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.text-secondary {
  color: #666 !important;
}

.row {
  padding: 0px;
  margin: 0px;
}
.row div {
  padding: 10px 20px;
}
.card-header {
  border-radius: 0px;
}
